<script>
  export let id = null;
  export let color = null;
  export let noanimate = null;
</script>

<section data-auto-animate ={null || true}
data-auto-animate-id={id || null}
data-background-color={color || null}
>
<slot>

</slot>
</section>

<style>
  
</style>
