<script>
  import Seriously from "/src/lib/Seriously.svelte";
</script>

# Auto animate

does it work?

<p class="text-4xl bg-red-500">this is some text </p>

more text awawa

---

<h1 class="text-red-500">Auto animate</h1>

## second slide :)

lol

<p class="text-4xl bg-amber-500">this is some text </p>

---

now we third

awawaw

very cool

---

# nice

<Seriously>Does this work?</Seriously>

<style>
</style>
