<script>
  import Slide from "/src/lib/Slide.svx";
  import ShowMany from "$lib/ShowMany.svelte";
	import Seriously from "$lib/Seriously.svelte";
	import SeriouslyRaw from "$lib/Seriously.svelte?raw";
</script>

<Slide>
  hello?
</Slide>

<Slide>
  does it work?
</Slide>

<Slide>
  ???
</Slide>

<Slide>
  <!-- data-id required to auto animate between non matching elements -->
  <div data-id="box" style="height: 50px; background: salmon;"></div>
</Slide>

<Slide color="hotpink">
    <div data-id="box" style="height: 200px; background: blue;"></div>
</Slide>

<Slide>
  <ShowMany
name={[
{ name: "Seriously", comp: Seriously, raw: SeriouslyRaw, text: "This is an example of the code component. It is perfect! Does it work?" },
]} />
</Slide>

<Slide color="hotpink">

Hello there! I am text. Wow!

</Slide>

<style>
  
</style>
